[Unit]
Description=Permissions for CCU2 container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/enableCCUDevices.sh

[Install]
WantedBy=default.target
