[Unit]
Description=Permissions for CCU container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/sbin/enableCCUDevices.sh

[Install]
WantedBy=default.target
